/* 
	STYLE.CSS:
	One stylesheet to rule them all.
	
	selector { property:value }
	
*/


/* -------  General Styles ------- */

body {
  margin: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
	background-image:url(images/backgrounds/blue-green-watercolor-background.png);
}

header {
	height: 150px;
	background-color: #403933;
	background-image:url(images/backgrounds/light-woodgrain-background.jpg);
}

.logo {
  font-family: 'Handlee', cursive;
  font-size: 72px;
  color: #102326;
  text-align: center;
  /* letter-spacing: -3; */
  margin: 0;
  padding: 20px 0 0 0;
}

header h2 {
  font-family: 'Montserrat', serif;
  color: #EB5E28;
  margin: 0px;
  font-size: 24px;
  text-align: center;
}

img {
  max-width: 80%;
  max-height: 60vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  border: 1px solid #c5c0b8;
}

main {
  margin-left: 20%;
  margin-right: 20%;
}

footer {
  background-color: #403933;
  background-image:url(images/backgrounds/light-woodgrain-background.jpg);

}

section {
  padding: 0 10%;
  margin: 40px auto;  
}

.text-center{
  text-align: left;
}

/* -------  Type ------- */

h1, h2, h3 {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #403933;
  text-align: center;
  font-weight: 700;
}

h1 { font-size: 28px; }
h2 { font-size: 26px; }
h3 { font-size: 18px; }

p, li {
 font-family: 'Montserrat', sans-serif;
 line-height: 1.5em; 
}

a {
  font-weight: 700;
  text-decoration: none;	
}
  a:link { color: #38786a; }
  a:visited { color: #38786a; }
  a:hover { color: #403933; }
  a:active { color: #403933; }
  a:hover { text-decoration: underline;
}

em {
  font-weight: bold;
  font-style: normal;
}

footer p {
  color: #102326;   
  font-weight: 500;
  text-align: center;
  padding: 20px;
  margin: 0;
}

/* -------  Elements ------- */

img, iframe { 
  width: 80%;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #c5c0b8;
} 

/* -------  Modifier styles ------- */

.border-top {
  padding-top: 2.5%;
  border-top: 2px solid #403933;
}

div {  
  margin: auto;
  padding: 20px;
}

.centered {
  text-align: center;
}

.no-margin-top {
  margin-top: 0;
}

ol { 
  padding-inline-start: 0; 
  margin-left: 5%;
} 

ul {  
  margin-left: 10%;
  margin-top: -2%;
}
